html {
font-size:  14px;
}


img {
  height: 400px;

}
main{
  width: 90%;
  
}
.main-text{
  /*font-size: 22px;*/
  font-size: 1.5rem;
  
}
p, h2, a{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
