h2 {
  text-align: center;
  color: blue;
}

.subheader{
  font-size: 8;
  font-style: italic;
  text-align: center;
  margin-bottom: 20px;
}

#panda{
  width: 400px;
  float:right;
}

.intro{
  font-weight: bold;
  font-size:large;
  text-indent: 20px;
}

.main-text{
  text-indent: 40px;
  text-align: justify;
}

.bald-idea{
  margin-top: 20px;
  margin-bottom: 20px;
  font-style: oblique;
  font-weight: bold;
  color: rgb(151, 10, 10);
}

h3{
  text-align: right;
  background-color: rgb(201, 197, 197);
}

.footer-element{
  text-align: right;
  color: blue;
}